<app-navbar></app-navbar>
<div class="container" style="padding-top: 15px;">
  <app-single-input [title]="'Area of a Circle'" [inputLabel]="'Radius'" [valueLabel]="'Area'" [gistId]="'74b5b0ac66d949713f0a034d01e293de'"
    [equation]="'assets/equations/areaCircle.png'"></app-single-input>
  <app-double-input [title]="'Area of a Parallelogram'" [inputLabel]="'Base and Height'" [valueLabel]="'Area'" [gistId]="'890a94b4ea97daa94bf17e61faa0fe07'"
    [equation]="'assets/equations/areaParallelogram.png'"></app-double-input>
</div>