<div class="jumbotron">
  <h1 class="display-4">{{ title }}</h1>

  <div class="row row-jumbotron">
    <div class="col-sm-12 text-center" style="margin: 15px 0;">
      <img [src]="equation" style="height: 30px;" />
    </div>
    <div class="col-sm-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ inputLabel }}</span>
        </div>
        <input type="number" class="form-control" [(ngModel)]="inputValue1" (ngModelChange)="onInputValue1Change($event)" min="0">
        <input type="number" class="form-control" [(ngModel)]="inputValue2" (ngModelChange)="onInputValue2Change($event)" min="0">
        <div class="input-group-append">
          <span class="input-group-text">{{ valueLabel }}: {{ calculatedValue }}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <ngx-gist [gistId]="'chousemath/'+gistId"></ngx-gist>
    </div>
  </div>
</div>